body {
    background: linear-gradient(45deg, rgb(87, 37, 38), rgb(161, 90, 91));
    font-family: sans-serif;
    color: whitesmoke;
    margin: 0;
}
#screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#gameCanvas{
    background-color: white;
    border-radius: 0.5rem;
}